---
import BlogLayout from '../../layouts/blog.astro';

import BlogPostPreview from "../../components/astro/blog-preview.astro";

import { latestPosts } from "../../lib/content";
import { blog } from '../../data/prototipo-blog.ts';

const posts = await latestPosts("prototipo");

---
<BlogLayout
    title="ejemplo"
    index={true}
    blog={blog}
>
    <div class="grid grid-cols-1 gap-4 ">    
        {posts.map(post => 
            <div class=" bg-sidebar text-sidebar-foreground mt-2 rounded-xl">
                <BlogPostPreview post={post} url={`/bitacora2/prototipo/${post.id}`} />
            </div>
        )}
    </div>
</BlogLayout>