---
import BlogLayout from '../../layouts/blog.astro';

import BlogPostPreview from "../../components/astro/blog-preview.astro";

import { latestPosts } from "../../lib/content";
import { blog } from '../../data/decadencia-blog.ts';

const posts = await latestPosts("decadencia");

---
<BlogLayout
    title="ejemplo"
    index={true}
    blog={blog}
>
    <div class="grid grid-cols-1 gap-4 ">    
        {posts.map(post => 
            <div class=" bg-sidebar text-sidebar-foreground mt-2 rounded-xl">
                <BlogPostPreview post={post} url={`/bitacora2/decadencia/${post.id}`} />
            </div>
        )}
    </div>
</BlogLayout>