---
import '../styles/global.css';
import MainLayout from './main.astro';
import Header from "../components/astro/header.astro"
import type { MetaProps } from '@/types/meta.ts';

// if you want to use the sidebar cookie
const defaultSidebarOpen = Astro.cookies.get('sidebar:state')?.value === 'true';
const { meta }: { meta: MetaProps } = Astro.props;

---


<MainLayout meta={meta} >
    <div class="min-h-screen bg-baground text-foreground ">
        <Header />
        <slot>
    </div>
</MainLayout>